@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background: #faf9fa !important;
}
html{
    scroll-behavior: smooth;
}
.textfirst{
    color: #7600ff !important;
}
.poppins {
    font-family: "Poppins", sans-serif !important;
    font-weight: 600 !important;
    font-style: normal !important;
  }
 .nav-item:hover{
    background-color: #e7ebfc !important;
    
 }

 .dropdown-item:hover{
    background-color: #e7ebfc !important;
    
 }
 .navbar{
    border-bottom: 1px solid rgb(225, 224, 224);
 }
 .upper-menu{
    background: #7600ff;
   
    display: flex !important;
    justify-content: space-evenly !important ;
    align-items: center !important;
 }
#doctor{
    font-size: 13px !important;
    font-weight: 900 !important;
}
#doctor1{
    font-size: 12px;
}
.btn{
    background-color:#ff9d12 !important ;
}
.heading{
    font-size: 50px !important;
    font-weight: 600;
    color: #300068;
}
.img1{
    background-image: url("graph.png");
    background-position:top;
    background-repeat: repeat;
    height: fit-content;
}
.address{
    background-color: #7600ff;
}

.btn2{
    border: 1px solid white;
    background: transparent;
    padding: 10px 20px 10px;
    color: white;
}
.btn2:hover{
    background-color: white;
    color: #7600ff;
}
.heading2{
    font-size: 50px !important;
}
.reviews{
    font-size: 50px;
    font-weight: bold;
    color: #300068;
}
.footer{
    display: flex;
    justify-content:space-evenly;
}
@media screen and (max-width:991px) {
    #up {
     display: none !important;
    }
    .section2{
        display: none !important;
    }
    .heading2{
        font-size: 30px !important;
    }
    .reviews{
        font-size: 35px;
    }
  }
  @media screen and (max-width:991px) {
    .footer{
        justify-content: space-between;
    }
    
  }
  @media  screen and (max-width:630px) {
    .footer{
        flex-direction: column;
        align-items:center;
    }
    .footer h3{
        margin-bottom: 20px;
        margin-top: 30px;
    }
  }
  @media screen and (max-width:575px) {
    .heading{
        font-size: 50px !important;
        font-weight: 600; 
    }
  }
  @media screen and (max-width:400px) {
    .heading{
        font-size: 45px !important;
        font-weight: 600; 
    }
  }
  @media screen and (max-width:991px) {
    .navbar-brand {
         font-size: 10px !important;
    }
    .navbar-brand img{
        width: 50px ;
        height: 50px;
    }
  }